<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul style="background-color: lightgray;">
      <li><%= link_to "About us", about_path %></li>
      <li><%= link_to "Contact us", contact_path %></li>
    </ul>
    <%= yield %>
    <p>Made with love by Le Wagon</p>
  </body>
</html>
